.codeblock {
  padding: 15px;
  border: 1px solid #666;
  background: #f4f4f4;
  /*color: var(--primary);*/
  color: var(--bs-red);
}

.p-title {
  font-size: 22px;
  font-weight: 600;
}

.resources-section {
  background-color: rgba(251,225,187,0.49);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

